<div class="fieldWrapper">
    <div class="queryFieldLabel">
        {{ queryfield_use.label_tag }}
    </div>
    <div class="queryFieldCheck filter_use">
        {{ queryfield_use }}
    </div>
    <div class="queryFieldLabel">
        {{ queryfield_value.label_tag }}
    </div>
    <div class="queryFieldOperator">
        {{ queryfield_operator }}
    </div>
    <div class="queryFieldWidget filter_value">
        {{ queryfield_value }}
    </div>
</div>

{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
